.mar-bt1{
    margin-bottom: 1rem;
}
.mar-bt2{
    margin-bottom: 2rem;
}
.mar-bt3{
    margin-bottom: 3rem;
}
.mar-bt4{
    margin-bottom: 4rem;
}
.mar-bt5{
    margin-bottom: 5rem;
}

//martop

.mar-tp1{
    margin-top: 1rem;
}
.mar-tp2{
    margin-top: 2rem;
}
.mar-tp3{
    margin-top: 3rem;
}
.mar-tp4{
    margin-top: 4rem;
}
.mar-tp5{
    margin-top: 5rem;
}
//padd top
.pad-tp1{
    padding-top: 1rem;
}
.pad-tp2{
    padding-top: 2rem;
}
.pad-tp3{
    padding-top: 3rem;
}
.pad-tp4{
    padding-top: 4rem;
}
.pad-tp5{
    padding-top: 5rem;
}

//padd bottom
.pad-bt1{
    padding-bottom: 1rem;
}
.pad-bt2{
    padding-bottom: 2rem;
}
.pad-bt3{
    padding-bottom: 3rem;
}
.pad-bt4{
    padding-bottom: 4rem;
}
.pad-bt5{
    padding-bottom: 5rem;
}
.padding-sm{
    padding: 0.5rem 1rem;
}
.padding-md{
    padding: 1rem 2rem;
}
.padding-lg{
    padding: 2rem 4rem;
}
.font-sm{
    font-size: 1.3rem;
}
.font-sm16{
    font-size: 1.6rem;
}
.font-lg2{
    font-size: 2rem;
}

.font-lg3{
    font-size: 3rem;
}